exclude: ".*(.fits|.fts|.fit|.header|.txt|tca.*|extern.*|drms/extern)$|^CITATION.rst$"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.9.4"
    hooks:
      - id: ruff
        args: ['--fix', '--unsafe-fixes']
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.0
    hooks:
      - id: isort
      - id: ruff-format
  -   repo: https://github.com/PyCQA/isort
      rev: 5.13.2
      hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: trailing-whitespace
      - id: check-yaml
      - id: debug-statements
      - id: check-added-large-files
        args: ["--enforce-all", "--maxkb=1054"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
ci:
  autofix_prs: false
  autoupdate_schedule: "quarterly"
