# Exclude specific files
# All files which are tracked by git and not explicitly excluded here are included by setuptools_scm
exclude .codecov.yaml
exclude .editorconfig
exclude .gitattributes
exclude .gitignore
exclude .pre-commit-config.yaml
exclude azure-pipelines.yml
exclude readthedocs.yml
prune paper
prune changelog

# This subpckage is only used in development checkouts and should not be
# included in built tarballs
prune drms/_dev
prune docs/_build
prune build
global-exclude *.pyc *.o
